<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Task</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!-- <mz-chip-input [placeholder]="'Enter a tag'" 
      [secondaryPlaceholder]="'+Tag'" [(ngModel)]="chips">
      </mz-chip-input>

      <button mz-button (click)="addChip()">Add</button>
      <button mz-button (click)="removeChip()">Remove</button> -->

    <button class="waves-effect waves-light btn" 
    [swal]="{ icon: 'error', title: 'Oops...',
              text: 'Something went wrong!', 
              icon: 'warning',
              showCancelButton: true, confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'}" (confirm)="saveEmail($event)" (cancel)="handleRefusalToSetEmail($event)">
      Set my e-mail address
    </button>

  </div>
</div>